html{
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --brand-color: #2196f3;
  --text-color-main: #212121;
  --text-color-gray: #757575;
  --black: #000000;
  --white: #ffffff;
  --background-color: #2f303a;
  --background-color-light: #f5f4fa;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--white);
  color: var(--text-color-main);
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
 
}
/* важно УБРАТЬ ТОЧКИ */
/* ul {
    list-style: none;
} */

/* .section.no-padding {
 padding-top: 0;
 padding-bottom: 0;
} */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid tomato;
  padding-bottom: 94px;
}
.logo {
  text-decoration: none;
  color: var(--black);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
}
.logo-brand {
  color: var(--brand-color);
}
.logo:hover {
  color: var(--text-color-gray);
}
.logo-brand:hover {
  color: var(--text-color-gray);
}
/* Site nav */
.site-nav .link {
  text-decoration: none;
  color: var(--text-color-main);
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}
.site-nav .link.current {
  color: var(--brand-color);
}
.contact-nav .link {
  text-decoration: none;
  color: var(--text-color-gray);
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
}
.contact-nav .link:hover,
.contact-nav .link:focus {
  color: #2196f3;
}

/* Hero */
.hero-section {
  background-color: var(--background-color);
  text-align: center;
 
    
 
  /* text-align: center; */
  /* выставит все елементы по центру */
}
.hero-title {
  padding-top: 200px;
  padding-bottom: 30px;
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--white);
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
 text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  
}
.hero-section .container {
  padding-bottom: 200px;
}
/* Button */
.button {
  padding: 10px 32px;
  background-color: var(--brand-color);
  color: var(--white);
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  display: inline-block;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
/* min-width: 216; можно задавать, чтобы тект не вылазил за границы кнопок */

}
.button:hover,
.button:focus {
  background-color: var(--white);
  color: var(--brand-color);
}


/* Sections */

/* Our peculiarities */
.pecul-section {
  
}
.visually-hidden {
  
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.title.item  {
  padding-top: 94px;
}
ul .list {
  margin-top: 0;
  
}
.title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.descr {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--text-color-gray);
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}
/* what we do */
.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
}
/* Our team */
.section-title.team {
  padding-top: 94px;
  margin-bottom: 50px;
}


.team {
  background-color: var(--background-color-light);
}
.card-team {
  padding: 0;

}
.title-team {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
}
.descr-team {
  
  color: var(--text-color-gray);
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
}
/* Footer */
.footer.container {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-color);
}

.logo-white {
  color: var(--white);
}
.logo-white:hover {
    color: var(--text-color-gray);
  }
.section-title {
  color: var(--text-color-main);
}
.no-padding {
  padding-top: 0;
  padding-bottom: 0;
 }
.address {
  margin-top: 20px;
  margin-bottom: 0;
  color: var(--white);
  font-style: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  cursor: pointer;
}
.link-foot {
 margin-top: 9px;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.contact-nav .link-foot:hover,
.contact-nav .link-foot:focus {
  color: #2196f3;
}
.link-foot {
  margin-top: 9px;
}
/* Portpholio */
.button-secondary {
  display: inline-block;
  background-color: var(--background-color-light);
  color: var(--text-color-main);
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  text-align: center;

  /* border: 2px solid transparent; - прозрачная рамка если нужно */

}
.button-secondary:hover,
.button-secondary:focus {
  background-color: var(--brand-color);
  color: var(--white);
}
/* Our work */

a {
text-decoration: none;
}
.work-item {

}
.site-nav.list {
  padding-top: 94px;
}
.title-work {
 margin: 0;
 margin-top: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
 color: var(--text-color-main);

}
.descr-work {
  margin: 0;
  margin-top: 9px;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--text-color-gray);
  
}
